<div id="wrapper">
    <!-- Page Wrapper -->


    <!--sidebar-->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">
        <button id="sidebarToggleTop" class="btn btn-link menu-close">
            <img src="../../assets/images/close.png" alt="" width="18">
        </button>
        <!-- logo -->
        <a class="sidebar-brand d-flex align-items-center" href="">
            <div class="sidebar-brand-icon rotate-n-15">
                <img src="../../assets/images/logo.png" class="logo1" />
                <img src="../../assets/images/logo1.png" class="logo2" />
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link">
                <i class='bx bx-chalkboard'></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link active" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                <i class='bx bx-spreadsheet'></i>
                <span>User List</span>
            </a>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a> <i class='bx bx-search-alt'></i>Application list</a></li>
                    <li><a href="login"> <i class='bx bx-bar-chart-square'></i>Logout</a></li>

                </ul>

            </div>
        </li>



    </ul>

    <div id="content-wrapper" class="d-flex flex-column">


        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Do you really want to delete</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                            (click)="userdelete()">Delete</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Main Content -->
        <div id="content">


            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-3
                static-top ">
                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link rounded-circle
                    mr-3" onclick="toggle()">
                    <i class='bx bx-menu'></i>
                </button>

                <!-- Topbar Search -->
                <form class="form-inline me-auto ms-md-3 my-2 my-md-0 mw-100
                    navbar-search">
                    <div class="input-group search-group ">
                        <div class="search-icon">
                            <i class='bx bx-search'></i>
                        </div>
                        <input type="text" class="form-control border-0 small" placeholder="Search for" />

                        <button type="submit" class="btn search-btn">Search</button>

                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ms-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow
                            animated--grow-in" aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100
                                navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control
                                        bg-light
                                        border-0 small" placeholder="Search
                                        for..." aria-label="Search" aria-describedby="basic-addon2" />
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <span class="me-2 d-none d-lg-inline text-gray-600
                                small">John Doe</span>
                            <img class="img-profile rounded-circle" style="width:50px;height:50px;"
                                src="../../assets/images/Max-R_Headshot (1).jpg" />
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow " aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="profile.php">
                                <i class="fas fa-user fa-sm fa-fw mr-2
                                    text-gray-400"></i> Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2
                                    text-gray-400"></i> Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2
                                    text-gray-400"></i> Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2
                                    text-gray-400"></i> Logout
                            </a>
                        </div>
                    </li>
                </ul>
            </nav>


            <!-- home-Page-Content -->
            <div class="container-fluid">



                <h4 class="mb-0 text-gray-800">CRM Search</h4>
                <nav class="border-bottom">
                    <ol class="breadcrumb mt-3">
                        <li class="breadcrumb-item"><a href="#"><i class='bx
                                    bx-home'></i></a></li>
                        <li class="breadcrumb-item active" aria-current="page">CRM</li>
                    </ol>
                </nav>

                <div class="filter-sec border-bottom mb-4 pb-3">
                    <!-- <div class="d-flex mt-3">
                        <span for="" class="me-2">Filter:</span>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                name="filter" value="option1">
                            <label class="form-check-label" for="inlineRadio1">District</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio"
                                name="filter" value="option2">
                            <label class="form-check-label" for="inlineRadio2">School</label>
                        </div>

                    </div> -->
                    <!-- #filterdata="ngForm" (ngSubmit)="filter(filterdata.value) -->
                    <form #formData="ngForm" (ngSubmit)="filterData(formData)">
                        <div class="row mb-3 mt-3 f-form-row">
                            <div class="col-md-4">
                                <input type="text" class="form-control" name="name" ngModel placeholder="Name">
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control" name="email" ngModel placeholder="Email">
                            </div>

                            <div class="col-md-4">
                                <input type="text" class="form-control" name="mobile" ngModel
                                    placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="row mb-3">

                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary ">Search</button>
                                <button type="submit" class="btn btn-primary ">Reset</button>
                            </div>
                        </div>
                    </form>

                </div>

                <!--Close-filter-sec -->



                <!--table-sec-->

                <div class="row">
                    <div class="col-md-12">



                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">role</th>
                                    <th scope="col"> Details</th>
                                    <th scope="col"> Update</th>
                                    <th scope="col"> Delete</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of data;let i= index">
                                    <th scope="row">
                                        {{(page-1)*5+i+1}}
                                    </th>
                                    <td>{{user?.fname}}</td>
                                    <td>{{user?.lname}}</td>
                                    <td>{{user?.email}}</td>
                                    <td>{{user?.mobile}}</td>
                                    <td>{{user?.role}}</td>
                                    <!-- <td *ngIf="user?.role=='admin'">
                                        <button class="btn btn-info">Make User</button>
                                    </td>
                                    <td *ngIf="user?.role=='user'">
                                        <button class="btn btn-info">Make Admin </button>
                                    </td> -->
                                    <td *ngIf="user?.role!=='1'">
                                        <button type="button" class="btn btn-info" (click)="setUser(user,user.sno)"
                                            data-bs-toggle="modal" data-bs-target="#detailsModal">

                                            Details
                                        </button>
                                    </td>
                                    <td *ngIf="user?.role!=='1'">
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            Update
                                        </button>
                                    </td>
                                    <td *ngIf="user?.role!=='1'">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#deleteModal" (click)="setDelId(user?.sno)">
                                            Delete
                                        </button>
                                    </td>



                                </tr>

                            </tbody>
                        </table>


                        <!--pagination-->
                        <div class="d-flex align-items-center
                            justify-content-end">
                            <div class="csv border-end me-3 pe-3 d-flex
                                align-items-center">
                                <a class="d-flex text-decoration-none
                                    text-dark "><img src="../../assets/images/excel-file.svg" class="me-2"> Export CSV
                                </a>
                            </div>

                            <select name="" id="" class="form-select me-2
                                page-count" (change)="changeLimit($event.target)">

                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>

                            <ul class="pagination mb-0">


                                <li class="page-item"><a class="page-link">
                                        <img src="../../assets/images/left-arrow-light.svg" alt=""> </a></li>


                                <li *ngFor="let b of pageArray" class="page-item page-link ms-2"
                                    [ngClass]="{'active' : b==page}">
                                    <button style="border:none;background-color:transparent;" (click)="hello(b)">{{b}}
                                    </button>
                                </li>

                                <li class="page-item"><a class="page-link"><img
                                            src="../../assets/images/right-arrow-dark.svg" alt=""> </a></li>
                            </ul>
                        </div>
                        <!--close-pagination-->
                    </div>
                </div>
                <!--close-table-sec-->

            </div>
            <!--Close-home-Page-Content -->
        </div>
    </div>
</div>


<!--Close-Page-Wrapper -->


<!-- Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{loanValues?.fname + " " + loanValues?.lname}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table style="margin: auto;">
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">Loan Id : {{loanValues?.loanid}}</td>
                    </tr>
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">First Name : {{loanValues?.fname}}</td>
                        <td class="col-md-5 mx-4">Last Name : {{loanValues?.lname}}</td>
                    </tr>
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">Email : {{loanValues?.email}}</td>
                        <td class="col-md-5 mx-4">Mobile : {{loanValues?.mobile}}</td>
                    </tr>
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">Gender : {{loanValues?.gender}}</td>
                        <td class="col-md-5 mx-4">PAN Number : {{loanValues?.pan}} </td>
                    </tr>
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">Aadhar Number : {{loanValues?.aadhar}}</td>
                    </tr>
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">Profession : {{loanValues?.profession}}</td>
                        <td class="col-md-5 mx-4">Annual Income : {{loanValues?.income}}</td>
                    </tr>
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">Loan Amount : {{loanValues?.loanamount}}</td>
                        <td class="col-md-5 mx-4">Duration(in months) : {{loanValues?.duration}}</td>
                    </tr>
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">Address : {{loanValues?.address1 + ", " + loanValues?.address2 + ", "
                            + loanValues?.place
                            +
                            ", " +
                            loanValues?.country}}</td>
                        <td class="col-md-5 mx-4">Pincode : {{loanValues?.pincode}}</td>
                    </tr>
                    <tr class='mt-2'>
                        <td class="col-md-5 mx-4">Remark : </td>
                        <td class="col-md-5 mx-4"><input (change)="editRemark($event)" value={{loanValues?.remark}}
                                name="remark" type="textarea" />
                        </td>
                        <td class="col-md-5 mx-4"><Button (click)="updateremark()"
                                class=" btn btn-warning">Update</Button></td>
                    </tr>
                    <tr>

                        <td class="col-md-5 mx-4" style="color:green" *ngIf="loanValues?.status === '1'">Status : You
                            approved the Loan</td>
                        <td class="col-md-5 mx-4" style="color:red" *ngIf="loanValues?.status === '0'">Status : You
                            rejected the Loan</td>
                        <td class="col-md-5 mx-4" style="color:rgb(180, 180, 14)" *ngIf="loanValues?.status === null">
                            Status : Pending</td>
                        <td class="col-md-5 mx-4" *ngIf="data?.status === null">
                            <Button class=" btn btn-success mx-3" (click)="updateremark()">Approve</Button>
                            <Button class=" btn btn-danger" (click)="updateremark()">Reject</Button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>