

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
rel="stylesheet">
<div class='body'>
    <h1>User</h1>

<section class="step-wizard">
    <ul class="step-wizard-list"> 
        <li class="step-wizard-item ">
            <span class="progress-count">1</span>
            <span class="progress-label">Registration</span>
        </li>
        <li [ngClass]="loanValues?.id?'step-wizard-item':'step-wizard-item current-item'">
            <span class="progress-count">2</span>
            <span class="progress-label">Apply Loan</span>
        </li>
        <li class="step-wizard-item current-item" *ngIf="loanValues?.status === null || !loanValues.id">
            <span class="progress-count">3</span>
            <span class="progress-label">Approve/Reject</span>
        </li>
        <li class="step-wizard-item" *ngIf="loanValues?.status === '0'">
            <span class="progress-count">3</span>
            <span class="progress-label">Rejected</span>
        </li>
        <li  class="step-wizard-item" *ngIf="loanValues?.status === '1'">
            <span class="progress-count">3</span>
            <span class="progress-label">Approved</span>
        </li>
    </ul>
</section>
    <p *ngIf="isPresent; then loandetails else loanapply"></p>

    <ng-template #loandetails>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#gunjan">
            Loan Details
        </button>
    </ng-template>
    <ng-template #loanapply>
        <a class='btn btn-primary' routerLink="/apply">Apply Loan</a>
    </ng-template>

    <!-- Modal -->
    <div *ngIf="loanValues" class="modal fade" id="gunjan" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{loanValues.firstname + " " + loanValues.lastname}}
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr class='mt-2'>
                            <td>Loan Id : {{loanValues.loanid}}</td>
                        </tr>
                        <tr class='mt-2'>
                            <td>First Name : {{loanValues.firstname}}</td>
                            <td>Last Name : {{loanValues.lastname}}</td>
                        </tr>
                        <tr class='mt-2'>
                            <td>Email : {{loanValues.email}}</td>
                            <td>Mobile : {{loanValues.mobile}}</td>
                        </tr>
                        <tr class='mt-2'>
                            <td>Gender : {{loanValues.gender}}</td>
                            <td>PAN Number : {{loanValues.pan}} </td>
                        </tr>
                        <tr class='mt-2'>
                            <td>Aadhar Number : {{loanValues.aadhar}}</td>
                        </tr>
                        <tr class='mt-2'>
                            <td>Profession : {{loanValues.profession}}</td>
                            <td>Annual Income : {{loanValues.income}}</td>
                        </tr>
                        <tr class='mt-2'>
                            <td>Loan Amount : {{loanValues.loanamount}}</td>
                            <td>Duration(in months) : {{loanValues.duration}}</td>
                        </tr>
                        <tr class='mt-2'>
                            <td>Address : {{loanValues.address1 + ", " + loanValues.address2 + ", " + loanValues.place
                                +
                                ", " +
                                loanValues.country}}</td>
                        </tr>
                        <tr class='mt-2'>
                            <td>Pincode : {{loanValues.pincode}}</td>
                        </tr>
                        <tr class='mt-2' *ngIf="loanValues.status === '1'">
                            <td style="color:green">Status : Your Loan is approved</td>
                        </tr>
                        <tr class='mt-2' *ngIf="loanValues.status === '0'">
                            <td style="color:red">Status : Your Loan is rejected</td>
                        </tr>
                        <tr class='mt-2' *ngIf="loanValues.status === null">
                            <td style="color:rgb(180, 180, 14)">Status : Pending</td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


