.ft{

    min-height: 90vh;
}

.card{
   
    border-radius:"15px" ;

}
.fw{

 color: #4835d4;
   
}
.fw2{

 color: #4835d4;
   
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
} 
