<div class="ft">
    <div class='body'>
        <form  #applyLoan="ngForm" (ngSubmit)="getdata(applyLoan)">
            <div class="apply_loan">
                <section class="h-100 h-custom gradient-custom-2">
                    <div class="container py-5 h-100">
                        <div class="row d-flex justify-content-center align-items-center h-100">
                            <div class="col-12">

                                <div class="card card-registration card-registration-2">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-lg">
                                                <div class="p-5">

                                                    <h3 class="fw fw-normal mb-5">General Infomation</h3>
                                                    <div class="row">
                                                        <div class="col-md-6 mb-4 pb-2">

                                                            <div class="form-outline">
                                                                <label class="form-label" htmlFor="form3Examplev2">First
                                                                    name</label>
                                                                <input type="text" id="form3Examplev2" name="fname"
                                                                    disabled class="form-control form-control-lg" [ngModel]="user?.fname"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-4 pb-2">

                                                            <div class="form-outline">
                                                                <label class="form-label" htmlFor="form3Examplev3">Last
                                                                    name</label>
                                                                <input type="text" id="form3Examplev3" name="lname"
                                                                    disabled class="form-control form-control-lg" [ngModel]="user?.lname" />
                                                            </div>

                                                        </div>
                                                    </div>



                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline">
                                                            <label class="form-label" htmlFor="form3Examplev4">Email
                                                                Address</label>
                                                            <input type="email" id="form3Examplev4" name="email"
                                                                disabled class="form-control form-control-lg"  [ngModel]="user?.email"/>
                                                        </div>
                                                    </div>

                                                    <div class="row">

                                                        <div class="col-md-6">
                                                            <div class="mb-4 pb-2">
                                                                <label class="form-label"
                                                                    htmlFor="form3Examplev5">Gender : </label>
                                                                <select name="gender" ngModel
                                                                    class="select form-control form-control-lg">
                                                                    <option value="">--Choose--</option>
                                                                    <option value="Male">Male</option>
                                                                    <option value="Female">Female</option>
                                                                    <option value="Other">Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                                                            <div class="mb-4 pb-2">
                                                                <div class="form-outline">
                                                                    <label class="form-label"
                                                                        htmlFor="form3Examplev5">Aadhar
                                                                        Number</label>
                                                                    <input type="number" name="aadhar"
                                                                        id="form3Examplev5"
                                                                        class="form-control form-control-lg" ngModel/>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                                                            <div class="mb-4 pb-2">
                                                                <div class="form-outline">
                                                                    <label class="form-label"
                                                                        htmlFor="form3Examplev5">Pan
                                                                        Number</label>
                                                                    <input type="text" id="form3Examplev5" name="pan"
                                                                        class="form-control form-control-lg" ngModel/>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>

                                                    <h3 class="fw2 fw-normal mb-5">Loan Details</h3>

                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-4 pb-2">
                                                                <label class="form-label"
                                                                    htmlFor="form3Examplev5">Profession</label>
                                                                <select name="profession" ngModel
                                                                    class="select form-control form-control-lg">
                                                                    <option value="">--Choose--</option>
                                                                    <option value="Salaried">Salaried</option>
                                                                    <option value="Self Employed">Self Employed</option>
                                                                    <option value="Other">Other</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                                                            <div class="mb-4 pb-2">
                                                                <div class="form-outline">
                                                                    <label class="form-label"
                                                                        htmlFor="form3Examplev5">Annual Income</label>
                                                                    <input type="number" name="income"
                                                                        id="form3Examplev5"
                                                                        class="form-control form-control-lg" ngModel/>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                                                            <div class="mb-4 pb-2">
                                                                <div class="form-outline">
                                                                    <label class="form-label"
                                                                        htmlFor="form3Examplev5">Loan Amount</label>
                                                                    <input type="number" name="loanamount"
                                                                        id="form3Examplev5"
                                                                        class="form-control form-control-lg" ngModel/>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                                                            <div class="mb-4 pb-2">
                                                                <div class="form-outline">
                                                                    <label class="form-label"
                                                                        htmlFor="form3Examplev5">Duration (In
                                                                        month)</label>
                                                                    <input type="number" name="duration"
                                                                        id="form3Examplev5"
                                                                        class="form-control form-control-lg" ngModel />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg bg-black text-white">
                                                <div class="p-5">
                                                    <h3 class="fw-normal mb-5">Contact Details</h3>

                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <input type="text" name="address1" id="form3Examplea2"
                                                                class="form-control form-control-lg" ngModel/>
                                                            <label class="form-label" htmlFor="form3Examplea2">Flat
                                                                No/House No + Street</label>
                                                        </div>
                                                    </div>

                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <input type="text" name="address2" id="form3Examplea3"
                                                                class="form-control form-control-lg" ngModel/>
                                                            <label class="form-label"
                                                                htmlFor="form3Examplea3">Locality/Area </label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-5 mb-4 pb-2">

                                                            <div class="form-outline form-white">
                                                                <input type="number" name="pincode" id="form3Examplea4"
                                                                    class="form-control form-control-lg" ngModel/>
                                                                <label class="form-label" htmlFor="form3Examplea4">Zip
                                                                    Code</label>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-7 mb-4 pb-2">

                                                            <div class="form-outline form-white">
                                                                <input type="text" name="place" id="form3Examplea5"
                                                                    class="form-control form-control-lg" ngModel/>
                                                                <label class="form-label"
                                                                    htmlFor="form3Examplea5">Place</label>
                                                            </div>

                                                        </div>
                                                    </div>


                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <input type="text" name="state" id="form3Examplea6"
                                                                class="form-control form-control-lg" ngModel/>
                                                            <label class="form-label"
                                                                htmlFor="form3Examplea6">State</label>
                                                        </div>
                                                    </div>
                                                    <div class="mb-4 pb-2">
                                                        <div class="form-outline form-white">
                                                            <input type="text" name="country" id="form3Examplea6"
                                                                class="form-control form-control-lg" ngModel/>
                                                            <label class="form-label"
                                                                htmlFor="form3Examplea6">Country</label>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                       
                                                        <div class="col-md-12 mb-4 pb-2">

                                                            <div class="form-outline form-white">
                                                                <input type="number" id="form3Examplea8" name="mobile" [ngModel]="user?.mobile"
                                                                    disabled class="form-control form-control-lg" />
                                                                <label class="form-label" htmlFor="form3Examplea8">Phone
                                                                    Number</label>
                                                            </div>

                                                        </div>
                                                    </div>


                                                    <div class="form-check d-flex justify-content-start mb-4 pb-3">
                                                        <input class="form-check-input me-3" type="checkbox" value=""
                                                            id="form2Example3c" required />
                                                        <label class="form-check-label text-white"
                                                            htmlFor="form2Example3">
                                                            I do accept the <a href="#!" class="text-white"><u>Terms and
                                                                    Conditions</u></a> of your
                                                            site.
                                                        </label>
                                                    </div>

                                                    <button type="submit" class="btn btn-info btn-lg"
                                                        data-mdb-ripple-color="dark">Register</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>